<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.com.com222.filter.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerFuncionario</servlet-name>
        <servlet-class>br.com.com222.controller.ControllerFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAssociado</servlet-name>
        <servlet-class>br.com.com222.controller.ControllerAssociado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/loginFuncionario</url-pattern>
        <url-pattern>/loginAssociado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerFuncionario</servlet-name>
        <url-pattern>/index_funcionario</url-pattern>
        <url-pattern>/cad_emprestimo</url-pattern>
        <url-pattern>/cad_associado</url-pattern>
        <url-pattern>/sair</url-pattern>
        <url-pattern>/cad_devolucao</url-pattern>
        <url-pattern>/ver_publicacao</url-pattern>
        <url-pattern>/cad_publicacao</url-pattern>
        <url-pattern>/cad_exemplar</url-pattern>
        <url-pattern>/rel_atraso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerAssociado</servlet-name>
        <url-pattern>/index_associado</url-pattern>
        <url-pattern>/consulta_pub</url-pattern>
        <url-pattern>/rel_historico</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
