<h1 class="page-title">
	Seu Histórico
</h1>
<div class="table-responsive">

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<td>Publicação</td>
				<td>Data de Empréstimo</td>
				<td>Data de Devolução</td>
			</tr>
		</thead>
		<tbody>

			<!-- Caso existam emprestimos -->

			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>

			<!-- Caso não existam, mostrar a TR abaixo -->

			<tr>
				<td colspan="3">Você não realizou nenhum Empréstimo</td>
			</tr>
			
		</tbody>
	</table>
</div>